<div class="row mb-4">
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Users</h5>
        <p class="card-text fs-4 fw-bold"><%= User.count %></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">MQTT Messages</h5>
        <p class="card-text fs-4 fw-bold"><%= MqttMessage.count %></p>
      </div>
    </div>
  </div>
  <!-- thêm các ô khác nếu muốn -->
</div>
